<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/head') %>
  </head>
  <header><%- include('../components/header') %></header>
  <body>
    <div class="container-fluid">
      <h1>Nothing Here Yet...</h1>
    </div>
  </body>
  <footer><%- include('../components/footer') %></footer>
</html>
