<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %> 
  </head>
  <header>
    <%- include('../partials/header') %> 
  </header>
  <body>
    <div class="container-fluid">
      <h1>Nothing Here Yet...</h1>
    </div>
  </body>
  <footer>
    <%- include('../partials/footer') %> 
  </footer>
</html>