body {
  background-color: rgb(40, 46, 51);
  color:azure;
}

.table-ctrl {
  padding-bottom: 2%;
}

.btn-icon {
  fill: currentColor;
  margin-right: 1rem;
  width:16px;
  height:16px;
}

h1 {
  padding: 3%;
}

/* dark mode for modals */
.modal-content {
  background-color: rgb(40, 46, 51);
}
.close {
  color: #fff;
}
.form-control {
  background-color:rgb(23, 26, 29);
}
input[type=text]:focus{
  outline: 2px solid rgb(110, 129, 148);
  background-color:rgb(41, 47, 53);
}