body {
  background-color: rgb(40, 46, 51);
  color:azure;
}

.table-ctrl {
  padding-bottom: 2%;
}

.btn-icon {
  fill: currentColor;
  margin-right: 1rem;
  width:16px;
  height:16px;
}

h1 {
  padding: 3%;
}