body {
  background-color: rgb(40, 46, 51);
  color:azure;
}

.add-btn {
  padding-bottom: 2%;
}

.btn-icon {
  fill: currentColor;
  margin-right: 1rem;
  width:16px;
  height:16px;
}

h1 {
  padding: 3%;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

/* table loader */
.bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading {
  background: rgb(40, 46, 51);
}
.table-bordered {
  border: 1px solid #3e4144;
}

/* dark mode for modals */
.modal-content {
  background-color: rgb(40, 46, 51);
}
.close {
  color:azure; 
}
.form-control {
  color: azure;
  background-color:rgb(41, 47, 53);
}
input[type=text]:focus{
  outline: 2px solid rgb(95, 182, 197);
  color: azure;
  background-color:rgb(23, 26, 29);
}