<form id="bomForm">
  <div class="form-group col-md-6">
    <label for="project-picker">Project</label>
    <select
      class="form-control selectpicker"
      id="project-picker"
      data-live-search="true"
    >
      <option value="" selected disabled>Select Project</option>
    </select>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="part-picker">Part</label>
      <select
        class="form-control selectpicker"
        id="part-picker"
        data-live-search="true"
      >
        <option value="" selected disabled>Select Part</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="partQuantity">Quantity</label>
      <input
        type="number"
        class="form-control"
        id="partQuantity"
        placeholder="0"
        min="0"
      />
    </div>
  </div>
</form>
