<form id="manufacturerForm">
  <div class="form-group">
    <label for="formGroupManufacturerName">Name</label>
    <input
      type="text"
      class="form-control"
      id="manufacturerName"
      placeholder="e.g. Texas Instruments"
    />
  </div>
</form>
