<form id="manufacturerForm">
  <div class="form-group">
    <label for="formGroupManufacturerName">Name</label>
    <input
      type="text"
      class="form-control"
      id="supplierName"
      placeholder="e.g. Digikey"
    />
  </div>
  <div class="form-group">
    <label for="formGroupManufacturerWebsite">Website</label>
    <input
      type="text"
      class="form-control"
      id="supplierWebsite"
      placeholder="e.g. digikey.com"
    />
  </div>
</form>
