<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="partName">Name</label>
      <input
        type="text"
        class="form-control"
        id="partName"
        placeholder="e.g. CD4511BE"
      />
    </div>
    <div class="form-group col-md-4">
      <label for="partUnitPrice">Unit Price</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input
          type="number"
          class="form-control"
          id="partUnitPrice"
          step="0.01"
          min="0"
          placeholder="0.00"
        />
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="partDesc">Description</label>
    <textarea
      class="form-control"
      id="partDesc"
      rows="2"
      placeholder="e.g. 7-segment display driver"
    ></textarea>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="supplierName">Supplier</label>
      <input
        type="text"
        class="form-control"
        id="supplierName"
        placeholder="e.g. Digikey"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="manufacturerName">Manufacturer</label>
      <input
        type="text"
        class="form-control"
        id="manufacturerName"
        placeholder="e.g. Texas Instruments"
      />
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck" />
      <label class="form-check-label" for="gridCheck">Add to Project</label>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="partProject">Project</label>
        <input
          type="text"
          class="form-control"
          id="partProject"
          placeholder="e.g. MasterBom"
        />
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Quantity</label>
        <input
          type="number"
          class="form-control"
          id="partQuantity"
          placeholder="0"
          min="0"
        />
      </div>
    </div>
  </div>
</form>
