<form id="projectForm">
  <div class="form-group">
    <label for="formGroupProjectName">Name</label>
    <input
      type="text"
      class="form-control"
      id="projectName"
      placeholder="e.g. MasterBom"
    />
  </div>
  <div class="form-group">
    <label for="formGroupProjectDesc">Description</label>
    <textarea
      class="form-control"
      id="projectDesc"
      rows="3"
      placeholder="e.g. Bill of materials in one place."
    ></textarea>
  </div>
</form>
