<form>
  <div class="form-group">
    <label for="formGroupSupplierName">Name</label>
    <input
      type="text"
      class="form-control"
      id="formGroupSupplierName"
      placeholder="e.g. Digikey"
    />
  </div>
  <div class="form-group">
    <label for="formGroupSupplierWebsite">Website</label>
    <input
      type="text"
      class="form-control"
      id="formGroupSupplierWebsite"
      placeholder="e.g. digikey.com"
    />
  </div>
</form>
